{escalus_users, [
    {alice, [
        {username, <<"alice">>},
        {server, <<"bour.cc">>},
        {password, <<"thaspItor8">>}]},
    {bob, [
        {username, <<"bob">>},
        {server, <<"bour.cc">>},
        {password, <<"Quispoij6">>}]}
]}.
%% FIXME
{ejabberd_node, ejabberd@localhost}.
{ejabberd_cookie, ejabberd}.
