
{erl_opts, [debug_info,
            {i, ["include"]}]}.

{require_otp_vsn, "R1[456]"}.

{deps, [
	{p1_xml, ".*", {git, "git://github.com/processone/xml.git"}, [{raw,true}]},
    {ejabberd, "13.09", {git, "git://github.com/processone/ejabberd.git", {tag,"13.09"}}, [{raw,true}]}
]}.

{pre_hooks, [
	{compile, "cp deps/p1_xml/include/* include/"},
	{compile, "cp deps/ejabberd/include/* include/"}
]}.
